
body{
  text-align: center;
  background-image:url(sean-sinclair-gai1YB3UmDA-unsplash.jpg);
  background-size: cover;
}

button{
  background-color: khaki;
  color: rgb(88, 157, 63);
  font-size:20px;
}

div{
  border:2px solid black;
  height:300px;
  width:500px;
  margin-left:500px;
  border-radius: 10px;
  padding-top:200px;
  margin-top: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: brown;
  text-decoration: underline;
  padding-top: 20px;
  font-size:30px

}

